page-home {
    .left, .right{
       
        width: 50%;
        float: left;
        padding: 0 5%;
        text-align: center;
    }

    .button{
        
        color: black;
        margin-top:10%;
    }
    .nav{
        width: 30%;
        margin-top:70%;
        padding-right: 20%;
        margin-left: 30%;
        color: black;
    .text{
        color: black
    }
    }
    .lol{
        
        color:white;
    }
    .left{
        border-right: 1px solid black;
    }
}

